// Font
$mainFont: 'Rubik', sans-serif;

// Size
$h1fz: 144px;
$h2fz: 48px;
$regularFz: 18px;

// font-weight
$regular: 400;
$medium: 500;
$bold: 700;

$ls1: 0.15em;

$lineHeight1: 1.1;

$phone: 320px;
$tablet: 768px;
$desktop: 992px;
$mdDesktop: 1300px;

// Main color
$bg: #111;
$white: #fff;
$textColor: #000;
$yellow: #FCDA28;
$yellowText: #FCB500;
$grey: #adadad;